*{
    margin: 0;
    padding: 0;
    color: white;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Vesper Libre', serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Vesper+Libre:wght@400;500;700;900&display=swap');

body{
    background-color: rgb(230, 219, 219);
}
h1,footer{
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #514646;
    font-weight: 400;
    text-transform:uppercase;
    /* text-decoration: rgb(7, 158, 85) double 1px underline; */
   font-family: 'Vesper Libre', serif;
    border: 1px solid rgb(26, 11, 132);
    border-radius: 5px;
}
main{
    height: 2000px;
}

nav a img {
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

nav a {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: rgb(59, 35, 5);
    text-align: center;
}

header{
    height: 80px;
    background-color: #d0c9d2;
    border-radius: 10px;
}